* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Jost", Helvetica, Arial, sans-serif;
}

body {
  /*background-color: #020020;*/
  background-color: var(--c-base);
}

main {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    width: 90%;
    margin: 0 5%;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.icon {
  color: var(--c-lighter);
  width: 20px;
  height: 20px;
}

li, a {
  text-decoration: none;
}

button {
  border: none;
  font-size: medium;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--c-base);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  box-shadow: var(--shadow);

  &.light {
    background-color: var(--c-lighter);
    color: var(--c-base);
  }

  &.no-shadow {
    box-shadow: none;
  }
}

header {

  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: var(--m);
}

.nav-links ul li a h2{
  font-size: var(--l);
  font-weight: 600;
  line-height: normal;
}

.hover-light-blue:hover {
  color: var(--c-lighter);
}