* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Jost", Helvetica, Arial, sans-serif;
}

body {
  /*background-color: #020020;*/
  background-color: var(--c-base);
}

main {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    width: 90%;
    margin: 0 5%;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.icon {
  color: var(--c-lighter);
  width: 20px;
  height: 20px;
}

li, a {
  text-decoration: none;
}

button {
  border: none;
  font-size: medium;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--c-base);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;

  &.light {
    background-color: var(--c-lighter);
    color: var(--c-base);
  }

  &.fade {
    background: linear-gradient(91deg, var(--c-fade-1) 0%, var(--c-fade-2) 100%);
    transition: all 0.3s ease-in-out;
  }

  &.fade:hover {
    animation: highlight-animation 1s ease-in-out infinite alternate;
  }

  &.no-shadow {
    box-shadow: none;
  }
}

header {

  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h2{
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  
  img {
    display: none;
  }
}

/*header mobile*/
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    margin: 0;
    padding: 0 var(--m);
    box-sizing: border-box;
    background-color: var(--c-background-dark);
    height: var(--xxxxxl);
    display: flex;
    align-items: center;

    img {
      display: block;
      float: right;
    }

    h1{
      font-size: var(--xxl);
      margin: 0;
    }

    h2 {
      font-size: var(--m);
      margin: 0;
    }

    .nav-links {
      display: none;
    }
  }
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: var(--m);
}

.nav-links ul li a h2{
  font-size: var(--l);
  font-weight: 600;
  line-height: normal;
}

.hover-light-blue:hover {
  color: var(--c-lighter);
}

label {
  display: inline-block;
  margin-top: var(--l);
  margin-bottom: var(--xs);
}

input {
  width: 100%;
  padding: var(--s);
  border: none;
  border-radius: var(--border-radius-small);
  font-size: var(--m);
  color: var(--c-base);
  background-color: var(--c-lighter);
  box-sizing: border-box;
}

.side-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: var(--c-background-dark);
  /* shadow instead of new element */
  box-shadow: -350px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: var(--m);
  background-color: var(--c-background-dark);

  &.show {
    display: block;
  }

  ul {
  list-style-type: none;
  padding: 0;

    li {
      margin: var(--m) 0;
      a {
        color: var(--c-text-light);
        text-decoration: none;
        font-size: var(--m);
      }
    }


  }
}

.no-scroll {
  overflow: hidden;
}