table {
  display: table;
  border-spacing: 2px;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: 0;
  border-collapse: collapse;
  width: 100%;
  margin-top: var(--xxxl);
  overflow-x: auto;
}

thead {
  border-bottom: 1px solid var(--c-lighter);
}

tr {
  max-width: 100%;
  padding: var(--s);
}

th, td {
  max-width: 250px;
  word-wrap: break-word;
}

td {
  padding: var(--s);
  text-align: center;

  img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 100px;
    border-radius: var(--border-radius-small);
    box-shadow: 0px 0px 20px 0px rgba(238, 244, 255, 0.138);
  }
}

/* Responsive table for mid sized Screens*/
@media screen and (max-width: 768px) {
  .image-table {
    display: block;
    overflow-x: auto;

    td {
      img {
        max-width: 100px;
        max-height: 50px;
      }
    }
  }
}

.limited-text {
  position: relative;
  max-width: 150px;
  max-height: 130px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/* Checkbox */
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid lightblue;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  box-shadow: 0px 0px 20px 0px rgba(238, 244, 255, 0.39);
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* download Selected Button */
#download-selected-btn {
  padding: calc(var(--xs)/2) var(--xs);
  margin-top: var(--s);
  border-radius: var(--border-radius-base);
  background-color: var(--c-lighter);
  color: var(--c-base);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: var(--shadow-light);
  }
}

#mobile-card-list{
  display: none;
}

/* Hide Table and download-selected-btn on Mobile */

@media screen and (max-width: 500px) {
  #image-table {
    display: none;
  }

  #download-selected-btn {
    display: none;
  }

  #mobile-card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.img-card-mobile {
  
  margin: var(--l) 0;
  background-color: var(--c-background-dark);
  border-radius: var(--border-radius-base);
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 0px 15px 0px rgba(238, 244, 255, 0.138);

  img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 100%;
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow);
  }

  .text-group {
    p {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      position: relative;

    }
    .sublabel {
      margin: 0;
    }

    p:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 100%;
      background: linear-gradient(to left, var(--c-background-dark), transparent);
    }
  }

  .download-btn {
    background-color: transparent;
    padding: 0;
    height: fit-content;
    width: fit-content;
    min-width: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin: 0;
      width: var(--xxl);
      height: var(--xxl);
    }
  }
}

.download-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--m);
  box-sizing: border-box;
  align-items: center;
}