.credits {
    color: var(--c-base);
    border-radius: var(--border-radius-small);
    background: #C0D8FF;
    box-shadow: var(--shadow);

    font-style: italic;
    font-weight: 700;
    width: fit-content;
    padding: var(--xs);
    float: right;
    margin-bottom: -50px;
}

#drop-area {
    background: linear-gradient(91deg, var(--c-fade-1) 0%, var(--c-fade-2) 100%);
    border-radius: var(--border-radius-base);
    padding: var(--s);
    min-height: fit-content;
    text-align: center;
    position: relative;
}

#drop-area.highlight {
    animation: highlight-animation 1.2s ease-in-out infinite alternate;
}

@keyframes highlight-animation {
    from {
        box-shadow: 0 0 10px var(--c-fade-1);
    }
    to {
        box-shadow: 0 0 50px var(--c-fade-2);
    }
}

.upload-center {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-upload-container {
    display: flex;
    align-items: center;
    padding: var(--m);

    .select-btn{
        display: inline-block;
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }  
}

#fileInput {
    display: none;
}

#file-list {
    position: absolute;
    width: 100%;
    bottom: 12px;
    right: 12px;
    display: flex;
    justify-content: end;

    margin-top: 15px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
}

.file-item {
    width: fit-content;
    padding: 5px;
    background-color: var(--c-base);
    border-radius: calc(var(--border-radius-base) * 0.75);
    color: #ffffff;
    box-shadow: var(--shadow);
}

#message {
    margin-top: 10px;
    color: green;
}

.highlight {
    background-color: yellow;
}