.credits-banner{
  float: right;
  position: relative;
  z-index: 1;
}
  .credits {
    display: flex;
  color: var(--c-base);
  border-radius: var(--border-radius-small);
  background: var(--c-lighter);
  box-shadow: var(--shadow);
  font-style: italic;
  font-weight: 700;
  padding: calc(var(--xs)/2) var(--xs);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box; /*FiX: Padding wird in die Breite eingerechnet */

  &.current {
    position: relative;
    z-index: 2;
    width: fit-content;

    &.active {
      border-radius: var(--border-radius-small) var(--border-radius-small) 0 0 ;
    }
  }

  &.subtract {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0);
    color: white;
    background: var(--c-base);
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    
    &.active {
      transform: translateY(100%);
      border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    }}
}

#drop-area {
  background: linear-gradient(91deg, var(--c-fade-1) 0%, var(--c-fade-2) 100%);
  border-radius: var(--border-radius-base);
  padding: var(--s);
  text-align: center;
  position: relative;
  min-height: 300px;
}

#drop-area.highlight {
  animation: highlight-animation 1s ease-in-out infinite alternate;
}

@keyframes highlight-animation {
  from {
    box-shadow: 0 0 10px var(--c-fade-1);
  }
  to {
    box-shadow: 0 0 50px var(--c-fade-2);
  }
}

.upload-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.file-upload-container {
  display: flex;
  align-items: center;
  padding: var(--m);

  .select-btn {
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .file-upload-container p {
    display: none;
  }
}

#fileInput {
  display: none;
}

.file-row {
  height: 80px;
  padding-top: var(--s);
  display: flex;
  align-items: center;

  margin-top: 300px;

  #file-list {
    width: 100%;
    display: flex;
    overflow-x: auto;
    align-items: end;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-behavior: smooth;

    direction: rtl; /* Scrollbar startet von rechts */
  }

  .file-item {
    flex: 0 0 auto; /* Verhindert das Verkleinern der Elemente */
    display: inline-block;
    position: relative;
    width: var(--xxxxxl);
    height: var(--xxxxxl);
    background-color: var(--c-base);
    border-radius: calc(var(--border-radius-small) * 0.75);
    color: #ffffff;
    box-shadow: var(--shadow);
    margin-right: var(--xs);
    margin-top: var(--xs);

    .file-preview {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
    }

    .remove-button {
      position: absolute;
      top: -6px;
      right: -6px;
      width: 18px;
      height: 18px;
      padding: 0;
      font-size: var(--xs);
      border: none;
      border-radius: 50%;
      background-color: var(--c-base);
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease;
      z-index: 10;
      box-shadow: var(--shadow);
    }

    .remove-button:hover {
      background-color: var(--c-red);
    }

    .progress-bar-container {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &.hidden {
        display: none;
      }

      &.blur {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .circle-label {
        position: absolute;
        font-size: var(--m);
        font-weight: 400;
      }
  
      #progress-circle {
          width: 75%;
          height: 75%;
          transform: rotate(-90deg);
          
      }

      #progress-circle circle:nth-child(2) {
          transition: stroke-dashoffset 0.35s;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
      }
  }
  }


  /* Card which displys uplad/cancel options */
  .card {
    margin-top: var(--xs); /*verhindert, dass die row springt, wenn alle cards gelöscht sind.*/
    background-color: var(--c-base);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    opacity: 0;

    transition: all 0.2s ease;


    .action {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--xxxl);
      width: var(--xxxl);
      font-size: 20px;
      font-weight: bold;
      border-radius: 0;

      &.reject {
        background-color: var(--c-base);
        border-bottom-left-radius: var(--border-radius-small);
        border-top-left-radius: var(--border-radius-small);
      }

      &.accept {
        background-color: var(--c-lighter);
        color: var(--c-base);
        border-bottom-right-radius: var(--border-radius-small);
        border-top-right-radius: var(--border-radius-small);
      }

      &.accept:hover {
        background-color: var(--c-green);
      }

      &.reject:hover {
        background-color: var(--c-red);
      }
    }
  }
}

#message {
  margin-top: 10px;
  color: var(--c-green);

  &.error {
    color: var(--c-red);
  }
}

.upload-status-list{
  list-style-type: none;
  max-height: 100px;
  overflow-y: auto;
  padding-right: var(--s);
  width: fit-content;

  li{
    color: var(--c-green);

    &.error{
      color: var(--c-red);
    }
  }
}