.credits-banner {
    color: var(--c-base);
    border-radius: var(--border-radius-small);
    background: #C0D8FF;
    box-shadow: var(--shadow);

    font-style: italic;
    font-weight: 700;
    width: fit-content;
    padding: var(--xs);
    float: right;
    margin-bottom: -50px;
}

#drop-area {
    background: linear-gradient(91deg, var(--c-fade-1) 0%, var(--c-fade-2) 100%);
    border-radius: var(--border-radius-base);
    padding: var(--s);
    min-height: fit-content;
    text-align: center;
    position: relative;
}

#drop-area.highlight {
    animation: highlight-animation 1s ease-in-out infinite alternate;
}

@keyframes highlight-animation {
    from {
        box-shadow: 0 0 10px var(--c-fade-1);
    }
    to {
        box-shadow: 0 0 50px var(--c-fade-2);
    }
}

.upload-center {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-upload-container {
    display: flex;
    align-items: center;
    padding: var(--m);

    .select-btn{
        display: inline-block;
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }  
}

#fileInput {
    display: none;
}

#file-list {
    width: 100%;
    display: flex;
    justify-content: end;

    margin-top: 15px;
    text-align: left;
    max-height: 200px;    
}

.file-item {
    width: fit-content;
    padding: 5px;
    background-color: var(--c-base);
    border-radius: calc(var(--border-radius-base) * 0.75);
    color: #ffffff;
    box-shadow: var(--shadow);
}

#message {
    margin-top: 10px;
    color: green;
}

.card {
    background-color: var(--c-base);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--xs);

    .credits {
        height: 32px;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
  
    .actions {
      display: flex;
      width: 100%;
    }
    
    .action {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0;

    
        &.reject {
        background-color: var(--c-base);
        border-bottom-left-radius: var(--border-radius-small);
        }
        
        &.accept {
        background-color: var(--c-lighter);
        color: var(--c-base);
        border-bottom-right-radius: var(--border-radius-small);
        }

        &.accept:hover {
        background-color: var(--c-green);
        }

        &.reject:hover {
        background-color: var(--c-red);
        }
    }   
}