/*
    Renard Serie
    10,12,16,20,25,31.5,40,50,63,100
    Basis: 16
*/

:root {
    --xs: 10px;
    --s: 12px;
    --m: 16px;
    --l: 20px;
    --xl: 25px;
    --xxl: 31.5px;
    --xxxl: 40px;
    --xxxxl: 50px;
    --xxxxxl: 63px;
    --xxxxxxl: 100px;
    --basis: 16px;

    --border-radius-base: 10px;
    --border-radius-small: calc(var(--border-radius-base) * 0.75);
}

:root {
    --c-base: #010015;
    --c-lighter: #C0D8FF;
    --c-fade-1: #5B9ACE;
    --c-fade-2: #264AA7;
    --c-green: #378910;
    --c-green-dark: #29640d;
    --c-red: #F33;
    --c-blue: #429FFF;

    --max-width: 1920px;
}
