/*
    Renard Serie
    10,12,16,20,25,31.5,40,50,63,100
    Basis: 16
*/

:root {
  --xs: 10px;
  --s: 12px;
  --m: 16px;
  --l: 20px;
  --xl: 25px;
  --xxl: 31.5px;
  --xxxl: 40px;
  --xxxxl: 50px;
  --xxxxxl: 63px;
  --xxxxxxl: 100px;
  --basis: 16px;

  --border-radius-base: 10px;
  --border-radius-small: calc(var(--border-radius-base) * 0.75);

  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  --shadow-light: 0px 0px 20px 0px rgba(238, 244, 255, 0.5);
}

:root {
  --c-base: #010015;
  --c-lighter: #c0d8ff;
  --c-fade-1: #5b9ace;
  --c-fade-2: #264aa7;
  --c-background-dark: #ffffff0d;
  --c-green: #a6ff7d;
  --c-green-dark: #29640d;
  --c-red: #ff5252;
  --c-amber: #f5bb3d;

  --max-width: 1920px;
}
