# Ignore contents of upload and optimized folders
upload/*
optimized/*

# Keep the folders themselves using .gitkeep
!upload/.gitkeep
!optimized/.gitkeep

# Common files to ignore
.DS_Store
node_modules/
.env
*.log